
html {
  scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    align-self: center;
    text-align: justify;
    max-width: 40em;
    z-index: 100;
}

h1, h2, h3 {
    text-align: center;
    align-self: center;
    width: 90%;
}

h1 {
    font-size: 2em;
    margin-bottom: 1em;
    text-transform: uppercase;
    /* ZA TO, DA POVEZAVE V NAV DELUJEJO PRAVILNO: */
    /*margin-top: 1.5em;*/
    margin-top: -4.5em;
    padding-top: 6.0em;
}

h2 {
    font-size: 1.6em;
    margin-top: 1em;
    margin-bottom: 0.65em;
}

h3 {
    font-size: 1.3em;
    margin-top: 0.9em;
    margin-bottom: 0.5em;
}

main {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 50em;
}

/* sklici */

a.ref-link {
    text-decoration: none;
    background: #444;
    color: white;
    font-weight: bold;
    border-radius: 0.3em;
    padding: 0 0.2em;
}

span:has(a.ref-link) {
    position: relative;
    z-index: 100;
}

/* figure */

figure {
    /* ZA TO, DA SKLICI DELUJEJO PRAVILNO: */
    /*margin-top: 1.5em;*/
    margin-top: -8.8em;
    padding-top: 10.0em;
}

figure:not(:has(canvas)) {
    align-self: center;
    margin-left: 0;
    margin-right: 0;
}

figure img, figure iframe {
    width: 100%;
    max-width: 30em;
    height: auto;
    border-radius: 0.5em;
}

iframe {
    width: 30em !important;
    aspect-ratio: 16/9;
}

figure img {
    cursor: pointer;
    max-height: 20em;
}

figcaption {
    text-align: center;
    font-style: italic;
}

/* tabele */

table {
    text-align: center;
}

th, td {
    padding: 0 0.5em;
}

/* header */

* {
    --header-footer-max-width: 46em;
}

header {
    width: 100%;
    max-width: var(--header-footer-max-width);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin-bottom: 1.5em;
    border: #ddd solid 0;
    border-bottom-width: 0.5em;
}

header span {
    color: #444;
}

header span#header-pd1 {
    font-size: 1.55em;
}

header span#header-spagetolom {
    font-size: 2.2em;
    font-weight: bold;
}

header nav#povezave {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
    margin-top: 0.5em;
}

header nav#povezave a {
    text-decoration: none;
    background: #444;
    color: white;
    font-weight: bold;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
}

/* footer */

footer {
    width: 100%;
    max-width: var(--header-footer-max-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin-top: 6em;
    border: #ddd solid 0;
    border-top-width: 0.5em;
}

footer img#fmf-logo {
    max-width: 90vw;
    max-height: 5em;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

footer p {
    margin: 0;
    padding: 0.1em 0;
    color: #444;
}
